
.list-format{
    line-height: 2;
    text-align: left;
}

a {
    text-decoration: none;
  }
h1 {
    font-size: 100px;
    color: #00ff0d;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    background-color: #ff008c;
    text-align: center;
}
.page-images {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contents-list {
    font-size: 80px;  
    list-style-type: none;
    text-align: center;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
}

.main-bg {
    background-image: linear-gradient(to left,#008d47,#008a94);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-attachment: fixed;
}


#lasagna-bg {
background-image: linear-gradient(to left,#4e0505,#f7c15e);
color: #0a005f;
}

#iced-cream-bg {
background-image: linear-gradient(to left,#eaffc8,#ff0000);
color: rgb(10, 0, 95);
}

#cake-bg {
background-image: linear-gradient(to left,#00ff4c,#8400a5);
color: rgb(10, 0, 95);
}

.back-button {
    font-size: 50px;
    color: #ff4500;
    background-color: #8a2be2;
}

h2 {
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    font-size: 46px;
    color: #c00000;
    text-align: left;
}

h3 {
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #c00000;
    text-align: left;
}
p {
    text-align: left;
}